<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたの一瞬を、誰かの一瞬に
    </h2>
    <p class='service-explain'>
      PHOTOLINKで写真を購入してみませんか？
    </p>
    <p class='service-explain'>
      現像して、おしゃれに飾ることも
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

   <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      PHOTOLINKでできる３つのこと
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          写真を買おう
        </h3>
        <p class='feature-list-description'>
          手軽に購入、素材に使える
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          写真を売ろう
        </h3>
        <p class='feature-list-description'>
          誰でも簡単に出品可能！！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top_img3.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          おしゃれに飾ろう
        </h3>
        <p class='feature-list-description'>
          オプションをつければ、フレーム付きであなたの元へ
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      PHOTOLINKで繋がろう
    </p>
    <p class='ad-explain'>
      出品数も豊富！！
    </p>
    <p class='ad-explain'>
      最高の瞬間を形に
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

 

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <%= link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <% if @photos.present? %>
        <% @photos.each do |photo| %>
          <li class='list'>
            <%= link_to photo_path(photo.id) do %>
            <div class='item-img-content'>
              <%= image_tag photo.image, class: "item-img" %>

              <%# 商品が売れていればsold outを表示しましょう %>
              <%# <div class='sold-out'>
                <span>Sold Out!!</span>
              </div> %>
              <%# //商品が売れていればsold outを表示しましょう %>

            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= photo.photo_title %>
              </h3>
              <div class='item-price'>
                <span><%= photo.selling_price %>円<br><%= photo.photo_category.name %></span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_photo_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>